

@media(max-width : 480px) {

    header {
        width: 90% !important;
        height: 70px !important;
        display: flex;
        justify-content: space-between;
    }

    .navbar-items {
        justify-content: space-between !important;
    }

   
    .navbar-items li {
        display: none;
    }

    .navbar-items img {
        width: 120px !important;
        position: relative;
        bottom: 15px;
        right: 25px;
    }

    .main-container {
        position: relative;
        bottom: 30px;
    }

    main {
        width: 90% !important;
    }

    .main-container {
        width: 95% !important;
    }

    .text {
        margin: auto !important;
    }

    .text h1 {
        margin-top: 30px;
        font-size: 1.7rem !important;
    }
    
    .text p {
        font-size: 13px !important;
        width: 80% !important;
        margin: auto;
    }

    .text {
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .image-container img {
        display: none;
    }

    .input input:last-child {
        justify-content: center;
        margin: 20px;
    }

    .company-details {
        position: relative;
        bottom: 50px;
        display: flex;
        flex-direction: column-reverse;
        width: 98% !important;
    }

    .text-company {
        font-size: .7rem !important;
        text-align: center;
    }

    .text-company p {
        font-size: .9rem;
    }

    .text-company br {
        display: none;
    }

    .text-company p:last-child {
        margin: auto;
        position: relative;
        top: 180px;
    }

    .company-logo img {
        width: 90px !important;
        margin: auto !important;
    }

    .company-logo {
        position: relative;
        bottom: 20px;
        margin: auto !important;

    }

    .hamburger-icon i {
        font-size: 2.2rem;
        display: block !important;
        position: relative;
        left: 30px;
        bottom: 12px;
    }

    .login {
        display: none !important;
    }

    .Introduction {
        width: 98% !important;
        margin: auto !important;
    }

    .Introduction h1 {
        text-align: center;
        align-items: center;
        font-size: 1.6rem;
    }

    .Introduction p {
        font-size: .9rem;
        text-align: center;
    }


    .Introduction br {
        display: none;
    }


    /* -----------------------------first-line-cards--------------------------------- */

    .first-line-cards {
        width: 96% !important;
        margin: auto !important;
        display: flex;
        flex-direction: column;
    }

    .first-card img {
        width: 280px;
    }

    .first-card {
        width: 96% !important;
        margin: auto !important;
        margin-bottom: 20px !important;
    }

    .first-item p {
        text-align: center !important;
    }

    .second-card img {
        width: 250px !important;
    }

    .second-card {
        width: 96% !important;
        margin: auto !important;
        margin-bottom: 20px !important;
        text-align: center;
    }

    .second-item p {
        text-align: center !important;
    }

    /* -----------------------------first-line-cards--------------------------------- */

    .second-line-cards {
        width: 96% !important;
        margin: auto !important;
        display: flex;
        flex-direction: column;
    }

    .third-card img {
        width: 290px !important;
    }

    .third-card {
        width: 96% !important;
        margin: auto !important;
        margin-bottom: 65px !important;
    }

    .third-item p {
        text-align: center !important;
    }

    .fourth-card img {
        width: 280px;
    }

    .fourth-card {
        width: 96% !important;
        margin: auto !important;
        margin-bottom: 20px !important;
    }

    .fourth-item p {
        text-align: center !important;
    }


}


